/* Grundstil  */
.custom-navbar .nav-link {
  color: #c9d1d9;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}


.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
  color: #00ff7f;
  border-bottom: 2px solid #00ff7f;
  font-weight: 600;
}

/* Aktiver Link */
.custom-navbar .nav-link:active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

 /* sichtbarer Unterstrich */
.custom-navbar .nav-link:focus-visible {
  outline: none;
  border-bottom: 2px solid #00ff7f;
}
