.custom-navbar {
  background-color: #0d1117;
}

.custom-navbar .nav-link {
  color: #c9d1d9;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
  color: #00ff7f;
  font-weight: 700;
  text-decoration: none;
  background: none;
  outline: none;
}

.custom-navbar .nav-link:active {
  color: #ffffff;
  font-weight: 700;
  background: none;
  outline: none;
}

.custom-navbar .nav-link:focus-visible {
  outline: 2px solid #00ff7f;
  outline-offset: 2px;
  background: none;
}
.navbar-nav {
  padding-right: 20px;
}
.custom-navbar .collapse.navbar-collapse {
  padding-right: 50px; 

}

